/*
Theme Name: Test theme
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Mont-Heavy", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1246px;
    padding: 0;
  }
  
  header {
    background-color: #0E191C;
    color: #FFF;
  }
  
  header .header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
  }
  
  header .phone_number {
    font-size: 2.4rem;
    display: flex;
  }
  
  header .phone_number hr {
    display: inline-block;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    background-color: #009943;
    height: 0.4rem;
    width: 4rem;
  }
  
  .logo {
    font-size: 2.2rem;
  }
  
  .logo img {
    margin-right: 1rem;
    margin-top: -0.3rem;
    height: 4.3rem;
  }
  
  .main {
    background: #F2F2F2;
    background: -moz-linear-gradient(0,  #FFF 0%,#FFF 13%,#F2F2F2 13%,#F2F2F2 100%);
    background: -webkit-linear-gradient(0,  #FFF 0%,#FFF 13%,#F2F2F2 13%,#F2F2F2 100%); 
    background: linear-gradient(0,  #FFF 0%,#FFF 13%,#F2F2F2 13%,#F2F2F2 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#F2F2F2',GradientType=1 );
  }
  
  .main .navbar {
    padding: 3.5rem 0;
    font-size: 1.8rem;
  }

  .main .navbar .show {
    margin: 2rem 1rem;
  }
  
  .main .navbar .form-control {
    background-color: inherit;
    color: #BFBFBF;
    font-size: 1.8rem !important;
    font-family: "Mont-Bold", sans-serif;
    max-width: 30rem;
    border: none;
    border-bottom: 4px solid #BFBFBF;
    padding-left: 0;
  }
  
  .main .navbar .form-control:hover {
    color: #000;
    box-shadow: none;
    border: none;
    border-bottom: 4px solid #009943;
  }
  
  .main .navbar .form-control:focus {
    box-shadow: none;
  }

  .menu-item a {
    padding: 0 !important;
    margin-right: 1.5rem;
  }
  
  .menu-item a:hover {
    text-decoration: none;
  }
  .main .navbar a {
    color: #333333 !important;
    font-size: 1.8rem;
    padding: 0 2rem;
    margin-right: 2rem;
    border-bottom: 4px solid transparent;
  }
  
  .main .navbar a:hover {
    color: #009943 !important;
    border-bottom: 4px solid #009943;
  }
  
  .main .navbar button {
    margin-top: -0.2rem;
    background-color: #009943;
    color: #FFF;
    font-size: 1.6rem;
    font-family: "Mont-Bold", sans-serif;
    padding: 1.3rem 3rem;
    border-radius: 3px;
  }
  
  .main .navbar button:hover {
    background-color: #008635;
  }
  
  .carousel {
    background-color: #0E191C !important;
    color: #FFF;
  }
  
  .carousel .carousel_control_prev, .carousel .carousel_control_next {
    position: absolute;
    bottom: 5rem;
    right: 4rem;
    padding: 1.3rem 3rem;
    background-color: #009943;
    color: #FFF;
  }
  
  .carousel .carousel_control_prev:hover, .carousel .carousel_control_next:hover {
    background-color: #008635;
  }
  
  .carousel .carousel_control_prev {
    right: 10rem;
  }
  
  .carousel .carousel_text_area {
    font-family: "Mont-Bold", sans-serif;
    padding: 5rem;
    position: relative;
  }
  
  .carousel .carousel_text_area .carousel_date {
    color: #4D4D4D;
    font-size: 1.7rem;
  }
  
  .carousel .carousel_text_area .carousel_date img {
    height: 1.6rem;
    margin-right: 0.5rem;
  }
  
  .carousel .carousel_text_area .carousel_text {
    font-size: 3.2rem;
    margin-top: 4rem;
    line-height: 4rem;
  }
  
  .carousel .carousel_text_area button {
    position: absolute;
    bottom: 5rem;
    background-color: #009943;
    color: #FFF;
    font-size: 1.6rem;
    font-family: "Mont-Bold", sans-serif;
    padding: 1.3rem 3rem;
    border-radius: 3px;
    border: none;
  }
  
  .carousel .carousel_text_area button:hover {
    background-color: #008635;
  }
  
  .carousel .carosel_img {
    width: 100%;
    height: auto;
  }
  
  .information {
    margin-top: 6.5rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 4fr 1fr 7fr;
  }
  
  .information h3 {
    font-size: 2.6rem;
    color: #333333;
    margin-bottom: 3rem;
  }
  
  .information .aboutUs_text {
    font-size: 1.7rem;
    color: #808080;
    font-family: "Mont-Bold", sans-serif;
    margin-bottom: 4rem;
  }
  
  .information hr {
    background-color: #009943;
    height: 0.4rem;
    width: 8rem;
  }
  
  .information .news_post {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-bottom: 4rem;
  }
  
  .information .news_post .post_content {
    margin-left: 3rem;
    font-family: "Mont-Bold", sans-serif;
  }
  
  .information .news_post .post_content .post_date {
    font-size: 1.4rem;
    color: #BFBFBF;
    margin-bottom: 1.5rem;
  }
  
  .information .news_post .post_content .post_text {
    color: #4D4D4D;
    font-size: 1.5rem;
  }
  
  footer {
    background-color: #0E191C;
    color: #FFF;
    padding: 9rem;
    text-align: center;
  }
  
  /*------- media  --------*/
  @media (max-width: 1270px) {
    header, .navbar, .information {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }
  
  @media (max-width: 1199px) {
    * {
      font-size: 8px;
    }
  }
  
  @media (max-width: 880px) {
    .carousel-item .carousel_text_area {
      padding: 3.2rem;
      height: auto;
    }
    .carousel-item .carousel_text_area .carousel_text {
      font-size: 2.5rem;
    }
    .carousel-item .carousel_text_area button {
      position: initial;
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .navbar a {
      padding: 0;
    }
    .show {
      background-color: #BEBEBE;
      padding: 1rem;
    }
    .navbar li {
      margin-bottom: 1rem;
    }
    .information {
      display: block;
    }
    .information .information_news {
      margin-top: 4rem;
    }
  }
  
  @media (max-width: 576px) {
    * {
      font-size: 7px;
    }
    header .header_inner {
      text-align: center;
      flex-direction: column;
    }
    header .header_inner .phone_number {
      display: block;
      margin-top: 3rem;
    }
    header .header_inner .phone_number hr {
      display: none;
    }
    form {
      display: none;
    }
    .information .news_post {
      display: block;
    }
    .information .news_post .post_content {
      margin-left: 0;
    }
  }
  
  /*------- fonts --------*/
  @font-face {
    font-family: "Mont-Heavy";
    src: url("assets/fonts/Fontfabric---Mont-Heavy.otf");
    font-style: regular;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Mont-Bold";
    src: url("assets/fonts/Fontfabric---Mont-Bold.otf");
    font-style: regular;
    font-weight: normal;
  }
  