$color-text-light: #FFF;
$color-text-dark: #333333;
$color-main: #009943;
$M-bold: "Mont-Bold", sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: "Mont-Heavy", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
.container {
    max-width: 1246px;
    padding: 0;
}
header {
    background-color: #0E191C;
    color: $color-text-light;
    .header_inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0;
        }
        .phone_number {
            font-size: 2.4rem;
            display: flex;
            hr {
                display: inline-block;
                margin-top: 0.3rem;
                margin-right: 1.5rem;
                background-color: $color-main;
                height: 0.4rem;
                width: 4rem;
            }
        }
    }
.logo {
    font-size: 2.2rem;
    img {
        margin-right: 1rem;
        margin-top: -0.3rem;
        height: 4.3rem;
    }
}

.main {
    background-color: #F2F2F2;
    .navbar {
        padding: 3.5rem 0;
        font-size: 1.8rem;
        .form-control {
            background-color: inherit;
            color: #BFBFBF;
            font-size: 1.8rem !important;
            font-family: $M-bold;
            max-width: 30rem;
            border: none;
            border-bottom: 4px solid #BFBFBF;
            padding-left: 0;
            &:hover {
                color: #000;
                box-shadow: none;
                border: none;
                border-bottom: 4px solid $color-main;
            }
            &:focus {
                box-shadow: none;
            }
        }
        a {
            color: $color-text-dark !important;
            font-size: 1.8rem;
            padding: 0 2rem;
            margin-right: 1.5rem;
            border-bottom: 4px solid transparent;
            &:hover {
                color: $color-main !important;
                border-bottom: 4px solid $color-main;
            }
        }
        button {
            margin-top: -0.2rem;
            background-color: $color-main;
            color: $color-text-light;
            font-size: 1.6rem;
            font-family: $M-bold;
            padding: 1.3rem 3rem;
            border-radius: 3px;
            &:hover {
                background-color: #008635;
            }
        }
    }
}

.carousel {
    background-color: #0E191C !important;
    color: $color-text-light; 
    .carousel_control_prev, .carousel_control_next {
        position: absolute;
        bottom: 5rem;
        right: 4rem;
        padding: 1.3rem 3rem;
        background-color: $color-main;
        color: $color-text-light;
        &:hover {
            background-color: #008635;
        }
    } 
    .carousel_control_prev {
        right: 10rem;
    }   
    .carousel_text_area {
        font-family: $M-bold;
        padding: 5rem;
        position: relative;
        .carousel_date {
            color: #4D4D4D;
            font-size: 1.7rem;
            img {
                height: 1.6rem;
                margin-right: 0.5rem;
            }
        }  
        .carousel_text {
            font-size: 3.2rem;
            margin-top: 4rem;
            line-height: 4rem;
        }
        button {
            position: absolute;
            bottom: 5rem;
            background-color: $color-main;
            color: $color-text-light;
            font-size: 1.6rem;
            font-family: $M-bold;
            padding: 1.3rem 3rem;
            border-radius: 3px;
            border: none;
            &:hover {
                background-color: #008635;
            }
        }            
    }
    .carosel_img {
        width: 100%;
        height: auto;
    }
}

.information {
    margin-top: 6.5rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 4fr 1fr 7fr;
    h3 {
        font-size: 2.6rem;
        color: $color-text-dark;
        margin-bottom: 3rem;
    }
    .aboutUs_text {
        font-size: 1.7rem;
        color: #808080;
        font-family: $M-bold;
        margin-bottom: 4rem;
    }
    hr {
        background-color: $color-main;
        height: 0.4rem;
        width: 8rem;
    }
    .news_post {
        display: grid;
        grid-template-columns: 2fr 5fr;
        margin-bottom: 4rem;
        .post_content {
            margin-left: 3rem;
            font-family: $M-bold;
            .post_date {
                font-size: 1.4rem;
                color: #BFBFBF;
                margin-bottom: 1.5rem;
            }
            .post_text {
                color: #4D4D4D;
                font-size: 1.5rem;
            }
        }
    }
}

footer {
    background-color: #0E191C;
    color: #FFF;
    padding: 9rem;
    text-align: center;
}

/*------- media  --------*/
@media (max-width: 1270px) {
    header, .navbar, .information {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}
@media (max-width: 1199px) {
    * {
        font-size: 8px;
    }
}

@media (max-width: 880px) {
    .carousel-item .carousel_text_area {
        padding: 3.2rem;
        height: auto;
        .carousel_text {
            font-size: 2.5rem;
        }
        button {
            position: initial;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .navbar {  
        .collapse {
        }      
        a {        
            padding: 0;
            margin: 0.5rem 0;
        } 
    }
    .information {
        display: block;
        .information_news {
            margin-top: 4rem;
        }
    }
}

@media (max-width: 576px) {
    * {
        font-size: 7px;
    }
    header .header_inner {
        text-align: center;
        flex-direction: column;
        .phone_number {
            display: block;
            margin-top: 3rem;
            hr {
                display: none;
            }
        }
    }
    form {
        display: none;
    }
    .information .news_post {
        display: block;
        .post_content {
            margin-left: 0;
        }
    }
}




/*------- fonts --------*/
@font-face {
    font-family: "Mont-Heavy"; 
    src: url("../fonts/Fontfabric---Mont-Heavy.otf"); 
    font-style: regular; 
    font-weight: normal; 
}
@font-face {
    font-family: "Mont-Bold"; 
    src: url("../fonts/Fontfabric---Mont-Bold.otf"); 
    font-style: regular; 
    font-weight: normal; 
}
